@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F8EFE6;
  --foreground: #000;
  --bgColorHeader: #E8CCAC;
}


body {
  background: var(--background);
  color: var(--foreground);
}


header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bgColorHeader);
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 0 55px;
}

.swiper-button-next,
.swiper-button-prev {
  display: block !important;
  color: #000 !important;  
  width: 35px !important;
  height: 35px !important;
  z-index: 10;
}

/* Garantir que os botões de navegação do Swiper fiquem visíveis */
.swiper-button-next,
.swiper-button-prev {
  z-index: 50; /* acima dos slides */
}

/* Ajuste opcional: aumentar área clicável */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; 
  color: #000 !important;
}

.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  overflow: visible !important;
}
